
*{
  box-sizing: border-box;
}
/* *::before,*::after{
  
} */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#grid{
  background-color: #535bf2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiles-wrapper{
  position: absolute;
  top:0;
  left:0;
}
.grid-wrapper{
  --wrapper-size:600px;
  --spacing:8px;
  --grid-size:4;
  --border-radius:4px;
  --cell-size:calc(var(--wrapper-size)/var(--grid-size) - var(--spacing));
  --bg-alpha:10%;
  --text-alpha:10%;
  position: relative;
  display: grid;
  height: calc(var(--wrapper-size) + var(--spacing));
  width: calc(var(--wrapper-size) + var(--spacing));
  grid-template-rows: repeat(var(--grid-size),1fr);
  grid-template-columns: repeat(var(--grid-size),1fr);
  gap: var(--spacing);
  padding: var(--spacing);
}
.grid-wrapper .cell{
  background-color: #d58080;
  height: var(--cell-size);
  width: var(--cell-size);
  border-radius: var(--border-radius);

}

.tile{
  top: calc((var(--cell-size) + var(--spacing)) * var(--row) + var(--spacing));
  left: calc((var(--cell-size) + var(--spacing)) * var(--col) + var(--spacing));
  position:absolute;
  height: var(--cell-size);
  width: var(--cell-size);
  border-radius: var(--border-radius);
  opacity: 0;
  background: hsl(129, 53%, var(--bg-alpha));
}
.tile[x-data-value]{
  opacity:1 ;
  color:hsl(239, 93%, var(--text-alpha));
  transition:all 500ms linear;
  animation: pop-in 500ms ease-in;
}
.tile[x-data-value]::after{
  font-size: xx-large;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(x-data-value);
  opacity:1 ;
}

@keyframes pop-in{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}